body {
    margin: 0;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    background: url(img/section-002.jpg);


}



header {
    display: flex;
    height: 50px;
    background: rgba(0, 0, 0, 0.05);
    justify-content: center;
    align-items: center;
}



header a {
    margin-right: 5%;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 470px;
    max-width: 70%;
    margin: auto;
}

main .top {

    height: 600px;
    display: flex;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 1%, rgba(0, 0, 0, 0.85) 16%, rgba(0, 0, 0, 0.77) 24%, rgba(0, 0, 0, 0.24) 76%, rgba(0, 0, 0, 0.15) 85%, rgba(0, 0, 0, 0) 100%);
    position: relative;


}

.flex_centre {

    margin: auto;

}

main h3 {}

.top_composition {
    color: #fff;
    text-align: center;
    position: relative;
    
}

.h1_text {

    margin: 0;
    font-size: 74px;
    border: 1px solid;
    border-bottom: 0;
    text-transform: uppercase;
    

}

.word {
    margin: 0 20px;
    letter-spacing:3px;

}

.top_view {
    display: flex;
    white-space: nowrap;
    text-transform: uppercase;
    align-items: center;
    margin: 0;
    margin-top: -12px;


}

.p_text {
    margin: 0 10px;
    font-size: 18px;
    letter-spacing:9px;
    font-weight: 600;
}

.top_view::before {
    content: '';
    height: 1px;
    width: 100%;
    position: relative;
    background-color: #fff;
    display: inline-block;
}

.top_view::after {
    content: '';
    height: 1px;
    width: 100%;
    position: relative;
    background-color: #fff;
    display: inline-block;

}

main .about {
    padding: 3%;

    background: #fff;
    text-align: left;
    flex-wrap: wrap;
    margin: auto;

}

p {
    line-height: 25px;
    font-size: 18px
}

main .group {
    padding: 3%;
    background: #fff;
    width: 100%;
     height: auto;
   
  
}

.personview {
    padding-top: 10px;
     display: flex;
      justify-content: space-around;
     flex-wrap:  wrap;
    text-align: center;
}

.person1 {
    padding: 3%;
    width: 300px;

}

.person2 {
    padding: 3%;
    width: 300px;
    

}

.person3 {
    padding: 3%;
    width: 300px;
   


}

.person_font {
     white-space: nowrap;
    text-align: center;
}

img {
    
    width: 150px;
    height: 150px;
    border-radius: 100px;

}

.view_font
{
    text-align: left;
}


footer {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.text_caption {
    text-align: center;
    margin: 0 10px;
}

.quation {
    height: auto;
    width: 100%;
    padding-top: 3%;
    background: #fff;
}

.contact {
    height: auto;
    width: 100%;
    padding-top: 3%;
    background: #fff;
}


