body {
    margin: 0;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    background: url(img/section-002.jpg);

}



header
{
    display: flex;
    height: 50px;
background: rgba(0,0,0,0.05);
    justify-content: center;
    align-items: center;
}



header a {
    margin-right: 5%;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    


}

main .top {
    background-image: url(img/0_c4d18_210fb2a0_orig.jpg);
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size:cover;
    background: linear-gradient(to bottom, rgba(0,0,0,0.85) 1%,rgba(0,0,0,0.85) 16%,rgba(0,0,0,0.77) 24%,rgba(0,0,0,0.24) 76%,rgba(0,0,0,0.15) 85%,rgba(0,0,0,0) 100%);
    /*
 background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 54%,#1c1c1c 61%,#1c1c1c 61%,#111111 68%,#111111 75%,#000000 88%,#000000 96%,#000000 96%,#131313 100%); */


}

.view {

    text-align: center;
    color: #fff;
    font-size: 30px;
    
}

main h3 { }

main h1 {}

main .about {
    padding: 3%;

    background: #fff;
    text-align: left;
    flex-wrap: wrap;

}

p {
    
    width: 90%;
}

main .group {
    padding: 3%;
    background: #fff;
    width: 100%;
    
    

}

.personview {
    padding-top: 10px;
    display: flex;
    
    
    
  

}

.person1 {
text-align: center;
   width: 33%;
    padding: 3%;
    
}

.person2 {
    text-align: center;
    width: 33%;
    padding: 3%;
    
}

.person3 {
    text-align: center;
    width: 33%;
    padding: 3%;
    
    
}

img {
    
    width: 150px;
    height: 150px;
    border-radius: 100px;

}



footer {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.text_caption {
    text-align: center;
}
.quation {
    height: auto;
    width: 100%;
    padding-top: 3%;
    background: #fff;
}
.contact {
    height: auto;
    width: 100%;
    padding-top: 3%;
    background: #fff;
}